# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
dist/
build/

# Environments
.env
.venv/
venv/

# Data & models
/data/
data/
models/
models/*.joblib
*.csv

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints

# Streamlit
.streamlit/

# System
.DS_Store
